svg {
    background: AliceBlue;
}

h1, label ,p, div {
    font-family: ‘Courier New’, Courier, monospace;
}

#india {
    fill: FloralWhite;
    opacity: .8;
    stroke: #000000;
    stroke-width: .7;
}

#story {
    font-weight: bold;
}

.bottom-right {
    transform: translate(400, 400);
}